{% extends "base.html" %}

<h1 class="block-page-title">{% block page_title %}User Edit Page{% endblock %}</h1>

{% block content %}
    <h2 class="mb-4">Edit a user</h2>
    <form method="POST">
        <div class="form-group">
            <label for="first_name">First Name</label>
            <input type="text" class="form-control" id="first_name" name="first_name" value="{{ user.first_name }}">
        </div>
        <div class="form-group">
            <label for="last_name">Last Name</label>
            <input type="text" class="form-control" id="last_name" name="last_name" value="{{ user.last_name }}">
        </div>
        <div class="form-group">
            <label for="image_url">Image URL</label>
            <input type="text" class="form-control" id="image_url" name="image_url" value="{{ user.image_url }}">
        </div>
        <div class="text-right"> <!-- Align buttons to the right -->
            <a href="{{ url_for('show_user_detail', user_id=user.id) }}" class="btn btn-outline-secondary">Cancel</a>
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </form>
{% endblock %}
